body {
    font-size: 16px;         
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: blue;
    cursor:crosshair;
}


a:visited {
    color: blue;
}
header {
    width: 100%;
    max-width: 1980px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding-bottom: 0.4em;
    top: 0;
    left: 0;
    border: 3px;
    z-index: 4;
}

h1 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
aside {
}

div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 2em;
    padding-bottom: 2em;
}

.lebenslauf {
    position: relative;
    max-width: 75%; 
    margin-top: 10%;
}

span {
    text-decoration: underline;
}

.overlay {
    margin: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px black solid;
    background-color: white;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 8;
  }
.overlay:target {
  visibility: visible;
  opacity: 1;
}


div {
    padding-top: 1em;
    padding-bottom: 1em;
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
}

ul {
    margin: 0;
    list-style: none;
}



/*laptop*/

@media only screen and (min-width: 768px) {
    body {
        font-size: 32px;
    }
}

/*desktop*/

@media only screen and (min-width: 1440px) {
    body {
        font-size: 64px;
    }
        
    header {
        padding-bottom: 0.1em;
    }
}



